<!DOCTYPE html>
<html layout:decorate="~{layout/base}">
    <body>
        <main layout:fragment="content">
            <div class="container">
                <h1 th:text ="${product} ? 'Update an existing product' : 'Add a new product'">Edit</h1>
                <form method="post">
                    <input type="hidden" name="id" th:value="${product?.id}" th:if="${product?.id}"\>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Name</label>
                        <input type="text" name="name" class="form-control" id="exampleFormControlInput1" th:value="${product?.name}"\>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </main>
    </body>
</html>