<!DOCTYPE html>
<html layout:decorate="~{layout/base}">
    <body>
        <main layout:fragment="content">
            <div class="container">
                <h1>List of all existing products</h1>
                <table class="table">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>Name</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="product : ${products}">
                        <td th:text=${product.id}>id</td>
                        <td th:text=${product.name}>Product</td>
                        <td>
                            <a>U</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>