<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/base}">
    <body>
        <main layout:fragment="content">
            <div class="container">
                <h1 class="text-center">List of all existing shops</h1>

                <div class="row ">
                    <div class="col-md">
                        <a href="/shop/create" class="btn btn-outline-primary btn-sm">
                            Create a new shop
                        </a>
                    </div>
                    <div class="col-md-2" th:include="~{layout/fragment/select/limit}"></div>
                </div>

                <div class="row">
                    <table class="table table-md">
                        <thead>
                            <tr>
                                <th class="table-col-id">id</th>
                                <th>Address</th>
                                <th class="table-col-control"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="shop : ${shops}">
                                <td th:text=${shop.id}>id</td>
                                <td th:text=${shop.address}>Address</td>
                                <td class="control"
                                    th:include="~{layout/fragment/button/control :: control('shop', ${shop.id})}">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="row amount-row justify-content-center" th:if="${shops.size() == 0}">
                    The table is empty
                </div>

                <div class="row justify-content-center" th:if="${totalPages > 1}"
                     th:include="~{layout/fragment/button/pagination :: pagination('shop', ${currentPage}, ${totalPages})}">
                </div>

            </div>
        </main>

    </body>
</html>