<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/base}">
    <body>
        <main layout:fragment="content">

            <div class="container">
                <h1 class="text-center">SPB IAC test task realization</h1>

                <div class="jumbotron">
                    <h1 class="display-4">SPB IAC test task</h1>
                    <p class="lead">This is a very simple realization of SPB IAC test task</p>
                    <hr class="my-4">
                    <a class="btn btn-primary btn-lg" href="/transaction/" role="button">Go to transaction management</a>
                    <a class="btn btn-primary btn-lg" href="/product/" role="button">Go to product management</a>
                    <a class="btn btn-primary btn-lg" href="/shop/" role="button">Go to shop management</a>
                </div>
            </div>
        </main>
    </body>
</html>