<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/base}">
    <body>
        <main layout:fragment="content">

            <div class="container">
                <h1 class="text-center">ru.spb.IAC test task realization</h1>

                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <h1 class="display-4">Transaction management system</h1>
                        <p class="lead">This is a very simple realization of transaction management system.</p>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>