<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/base}">
    <body>
        <main layout:fragment="content">
            <div class="container">
                <h1 class="text-center">Transaction search</h1>

                <div class="row justify-content-end">
                    <div class="col-md-auto" th:include="~{layout/fragment/form/search}"></div>
                </div>

                <div class="row">
                    <div class="col-md">
                        <a href="/transaction/create" class="btn btn-outline-primary btn-sm">
                            Create a new transaction
                        </a>
                    </div>

                    <div class="col-md-3" th:include="~{layout/fragment/select/order}"></div>
                    <div class="col-md-2" th:include="~{layout/fragment/select/limit}"></div>
                </div>

                <div class="row">
                    <table class="table table-md">
                        <thead>
                            <tr>
                                <th class="table-col-id">id</th>
                                <th>Shop Id</th>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Amount</th>
                                <th>Date</th>
                                <th class="table-col-control"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="transaction : ${transactions}">
                                <td th:text="${transaction.id}">id</td>
                                <td th:text="${transaction.shop.id}">Shop</td>
                                <td th:text="${transaction.product.name}">Product</td>
                                <td th:text="${transaction.quantity}">Quantity</td>
                                <td th:text="${transaction.amount}">Amount</td>
                                <td th:text="${#dates.format(transaction.date, 'dd/MM/yyyy HH:mm:ss')}">Date</td>
                                <td class="control"
                                    th:include="~{layout/fragment/button/control :: control('transaction', ${transaction.id})}">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="row amount-row justify-content-center" th:if="${transactions.size() == 0}">
                    No transactions to show
                </div>

                <div class="row total-amount-row justify-content-end" th:if="${totalAmount}">
                    <span>
                        Total amount:
                        <span th:text="${totalAmount}"></span>
                    </span>
                </div>

                <div class="row justify-content-center" th:if="${totalPages > 1}"
                     th:include="~{layout/fragment/button/pagination :: pagination('transaction', ${currentPage}, ${totalPages})}">
                </div>
            </div>
        </main>
    </body>
</html>