<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/base}">
    <body>
        <main layout:fragment="content">
            <div class="container">
                <h1 class="text-center">Group transactions</h1>

                <div class="row">
                    <div class="col-md">
                        <a href="/transaction/create" class="btn btn-outline-primary btn-sm">
                            Create a new transaction
                        </a>
                    </div>

                    <div class="col-md-3" th:include="~{layout/fragment/select/group}"></div>

                    <div class="col-md-3">
                        <div class="input-group input-group-sm" th:fragment="order">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputOrder">Sort By:</label>
                            </div>
                            <select id="inputOrder" class="form-control">
                                <option selected="selected">Default</option>
                                <option data-sort="product_id" data-order="desc">Product (A-Z)</option>
                                <option data-sort="product_id" data-order="asc">Product (Z-A)</option>
                                <option data-sort="date" data-order="desc">Date (Newest)</option>
                                <option data-sort="date" data-order="asc">Date (Oldest)</option>
                                <option data-sort="quantity" data-order="desc">Count (Largest)</option>
                                <option data-sort="quantity" data-order="asc">Count (Smallest)</option>
                                <option data-sort="amount" data-order="desc">Amount (Large-Small)</option>
                                <option data-sort="amount" data-order="asc">Amount (Small-Large)</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-2" th:include="~{layout/fragment/select/limit}"></div>
                </div>

                <div class="row">
                    <table class="table table-md">
                        <thead>
                            <tr>
                                <th class="table-col-id">Count</th>
                                <th th:text="${#strings.capitalize(groupedName)}">Grouped</th>
                                <th>Total amount</th>
                                <th>Last transaction date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="transactionGroup : ${transactionGroups}">
                                <td th:text="${transactionGroup.count}">Count</td>
                                <td th:text="${transactionGroup.grouped}">Grouped</td>
                                <td th:text="${transactionGroup.total}">Total</td>
                                <td th:text="${transactionGroup.last}">Last</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="row amount-row justify-content-center" th:if="${transactionGroups.size() == 0}">
                    The table is empty
                </div>

                <div class="row justify-content-center" th:if="${totalPages > 1}"
                     th:include="~{layout/fragment/button/pagination :: pagination('transaction', ${currentPage}, ${totalPages})}">
                </div>
            </div>
        </main>
    </body>
</html>